<h1>{{ header }}</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img" (click)="getModal()">
      <img [src]="currentHotel?.picture" alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <app-filter
          [hotels]="hotels"
          (searchRequest)="searchText($event)"
          (starAmount)="starCatch($event)">
        </app-filter>
      </div>
      <div class="village">
        <h3>{{title}}</h3>
        <span class="line"> </span>
        <app-list
          [hotels]="hotels"
          [currentHotel]="currentHotel.id"
          [searchText]="text"
          [starAmount]="stars"
          [favoritesList]="favoritesList"
          (hotelSelected)="getHotel($event)"
          (addToFavorite)="favoriteHotel($event)"
        ></app-list>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [currentHotel]="currentHotel.weather"></app-weather>
    <app-profile [currentHotel]="currentHotel.profile"></app-profile>
    <app-favorites [favoritesList]="favoritesList"></app-favorites>
  </div>
  <div class="clear"> </div>
</div>
