<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <img [src]="currentHotel?.picture" alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li><a href="index.html#">Hotel</a></li>
          <li><a href="index.html#">Fishing</a></li>
          <li><a href="index.html#">Tours</a></li>
          <li class="anc-bor"><a href="index.html#">Weather</a></li>
        </ul>
      </div>
      <div class="village">
        <h3>{{title}}</h3>
        <span class="line"> </span>
        <app-list [hotels]="hotels" (hotelSelected)="this.getHotel($event)"></app-list>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [currentHotel]="currentHotel"></app-weather>
    <app-profile [currentHotel]="currentHotel"></app-profile>
  </div>
  <div class="clear"> </div>
</div>
